<nav class="navbar navbar-expand-lg fixed-top" >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">     
    </div>
    
    <!-- <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <div class="row">
                <div class="col-md-3">
                    <a class="navbar-brand" href="/" style=" color: white;"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-3">
                   
                    <div class="" style=" margin-left: 5%;">

                        <div class="forms">
                            <form class=" form" role="search" action="{% url 'search' %}">
                              <div class="input-group " >
                                <input type="text" class="form-control" placeholder="Search projects by Title" name="search"  >
                                <div class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true" style="color: white;"></i></button>
                                </div>
                              </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="navbar-nav mr-auto" style="margin-left: 45%;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style=" color: white">
                                Location
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                <a class="dropdown-item" href="/">Dropdown</a>
            
                            </div>
                        </li>
            
                    </ul>
                </div>
                <div class="col-md-3">
                    {% if user.is_authenticated %}

            <li class="dropdown btn btn-default">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown"
                    ><i class="far fa-user text-white"></i>
        
                </a>
                <ul class="dropdown-menu" role="menu" style=" text-decoration: none;">
        
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" style=" color: black;"
                            >Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" style=" color: black;"
                            >Profile</a>
                    </li>
                    <li>
                        <a class='btn btn-default' href="/accounts/register" >Register</a>
                    </li>
                    <li>
        
                        <a class='btn btn-default' href="/admin/password_change">Change
                            Password</a>
                    </li>
                    <li>
                        <a class='btn btn-default' href="/logout" >Log Out</a>
                    </li>
                </ul>
            </li>
        
            {% else %}
            <li>
                <a class='btn btn-default' href="accounts/login" style="font-weight: 700;">Login</a>
            </li>
            {% endif %}
                </div>
               
            </div>
            
            
            
            
        
        </div>
      </div>
      <span style="font-size:30px;cursor:pointer; color: whitesmoke;" onclick="openNav()">&#9776;</span>
      
    <script>
        function openNav() {
          document.getElementById("myNav").style.width = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.width = "0%";
        }
    </script>
    <style>
        
    </style> -->
</nav>


