{% extends "base.html" %}
{% block content %}

<style>
    body {
        font-family: 'Lato', global_font_string;
        font-weight: 500;
        background-color: #595d64;
        color: whitesmoke;

    }

    .card {
        color: #595d64;
        text-align: left;
        border-radius: 10%;
    }
    .projects{
        width: 100%;
        height: auto;
    }
</style>
<br>
<section class="profile container">
    <div class=" mt-5">
        <div class="row">

            <div class="card col-md-6 text-left">
                {% if profile.profile_photo %}
                <img src="{{profile.profile_photo.url}}" alt="" style="border-radius: 50%; width: 50%; height: auto;">
                {%else%}
                <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                    class="card-img-top" alt="My profile picture">
                {% endif %}
                <div class="card-body">

                    <p>Username: {{ user.username }}</p>

                    <p>
                        {% if profile.bio %}
                        <small>Bio: {{ profile.bio }}</small>
                        {% else %}
                        <span class="text-danger">No about me</span>
                        {% endif %}
                    </p>
                    <h6>Joined on: <span class="badge rounded-pill bg-secondary text-white">
                            {{ user.date_joined }} </span></h6>
                    <p>Contact: {{ profile.contact }}</p>

                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-4 details">
                        <div class="first">
                            <h3>Username: {{user.username}}</h3>
                            {% if request.user is user %} {% endif %}
                            <div>
                                <a href="{%url 'update_profile' user.id %}"
                                    class="btn btn-outline-dark bg-dark text-white rounded-pill">
                                    Edit Profile
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <form action="/project/project/">
                            <input type="submit" class="btn btn-outline-dark bg-dark text-white rounded-pill b-text"
                                value="Post a Project" />
                        </form>
                    </div>
                </div>
                </div>

        </div>
    </div>

    <div class="container">
        <h3>Projects</h3>
    <div class="row">
        {% for pro in project %}
        <div class="col-md-4">
            <h3>{{ pro.title }}</h3>


            <img src="{{ pro.image.url }}" class="projects" alt="project images">
        
            <p>{{ pro.description }}</p>
            <p>{{ pro.date }}</p>
       </div>
    </div>
    {% empty %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="alert alert-info" role="alert">
            No Projects!
        </div>
        
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    
</section>

{% endblock %}